<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
<h1>Fill in the blanks to write your story!</h1>
      <div>
        <form action="/formName">
        <div class="form-group">
            <label for="Name">A name</label>
            <input id="Name" name="Name" class="form-control" type="text">
          </div>
          <button type="submit" class="btn">Tamagotchi!</button>
        </form>
      </div>
    </body>
</html>